<div class="modal fade" id="attendanceCheckModal" tabindex="-1" role="dialog" aria-labelledby="attendanceCheckModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <h4>モーダル</h4>
    </div>
  </div>
</div>